<div id="loading">
	<h1>Please wait, we are preparing...</h1>
	<mat-spinner></mat-spinner>
</div>

<div id="main-wrapper">
	<header>
		<div id="logout" (click)="logOut()">Logout</div>
	</header>

	<div id="content-wrapper">
		<div id="left-menu" *ngIf="isAuth$ | async">
			<div class="name">
				<img src="../assets/images/logo.svg" alt="" (click)="home()" class="pointer"> PRICE BOX DISPLAY
			</div>
			<div class="user">
				<!-- <div class="user-wrapper"> -->
					<span>Admin</span>
				<!-- </div> -->
				<!-- <span></span> -->
			</div>

			<!-- <div class="menu"></div>
		
		<div class="footer"></div> -->
		</div>

		<div class="center-wrapper">
			<!-- <header></header> -->

			<router-outlet></router-outlet>
		</div>
	</div>
</div>