<div id="loading">
	<h1>Please wait, we are preparing...</h1>
	<mat-spinner></mat-spinner>
</div>

<div id="main-wrapper">
	<header *ngIf="isAuth$ | async">
		<div id="logout" (click)="logOut()">Logout</div>
	</header>

	<div id="content-wrapper">
		<div id="left-menu" *ngIf="isAuth$ | async">
			<div class="name">
				<img src="../assets/images/logo.png" alt="" (click)="home()" class="logo" width="200px"> PRICE BOX DISPLAY
			</div>
			<div class="user">
				<!-- <div class="user-wrapper"> -->
					<span>Admin</span>
				<!-- </div> -->
				<!-- <span></span> -->
			</div>

			<!-- <div class="menu">
				<button mat-raised-button  (click)="home()">Home</button>
			</div> -->
		</div>

		<div class="center-wrapper">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>