.picker{
    margin: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

:host::ng-deep.k-grid .k-grid-container {
    height: calc(100vh - 228px);
}

:host::ng-deep.k-filter-row td, .k-filter-row th{
    padding: 3px;
}