<div class="wrapper">
    <form class="example-form" [formGroup]="myForm" novalidate (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Please enter username or email" name="username" formControlName="username" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Enter your password" name="password" formControlName="password" [(ngModel)]="password">
        </mat-form-field>
        <div class="form-button">
            <button mat-raised-button color="primary" [disabled]="myForm.invalid">Login</button>
        </div>
    </form>

    <!-- <div class="link-buttons">
        <button mat-fab color="primary">
            <a href="/auth/facebook">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
        </button>

        <button mat-fab color="primary">
            <a href="/auth/vkontakte">
                <i class="fa fa-vk" aria-hidden="true"></i>
            </a>
        </button>

        <button mat-fab color="primary">
            <a href="/auth/linkedin">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </button>
    </div> -->
</div>