<div id="main-wrapper">
	<div id="left-menu">
		<div class="name">PRICE BOX DISPLAY</div>
		<div class="user">
			<div class="user-wrapper">
				<span>Admin</span>
				<span>Administrator</span>
			</div>
			<span></span>
		</div>
		<div class="menu">
			<div class="menu-buttons">
				<button mat-button (click)="home()">Home</button>
				<button (click)="logOut()" mat-button>Logout</button>
			</div>
		</div>
		<div class="footer"></div>
	</div>

	<div class="center-wrapper">
		<header></header>

		<div class="picker" *ngIf="!showTable">
			<div class="picker-inputs">
				<mat-form-field>
					<mat-select placeholder="Choose platform" [(ngModel)]="selectedPlatform" [formControl]="platformControl" required>
						<mat-option>--</mat-option>
						<mat-option *ngFor="let platform of platforms" [value]="platform">{{platform}}</mat-option>
					</mat-select>
					<mat-error *ngIf="platformControl.hasError('required')">Please choose a platform</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input placeholder="Choose month" 
						   matInput 
						   mode="month" 
						   name="someName" 
						   [(ngModel)]="selectedMonth" 
						   [dpDayPicker]="config" 
						   theme="dp-material"
						   required="true" />
				</mat-form-field>
			</div>

			<button mat-raised-button color="primary" (click)="submit()">Submit</button>

		</div>

		<div class="tags" *ngIf="showTable">
			<mat-form-field floatPlaceholder="never">
				<mat-chip-list #chipList>
					<mat-chip *ngFor="let value of tags" (remove)="removeStatus(value)">
						{{value}} <mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip>
				</mat-chip-list>

				<input #statusInput 
				matChipInputAddOnBlur="true" [matChipInputFor]="chipList" [matAutocomplete]="auto" placeholder="Start typing...">
				
				<mat-autocomplete #auto="matAutocomplete" (optionSelected)="addStatus($event); statusInput.value=''">
					<mat-option *ngFor="let brand of allBrands | filter: statusInput.value: allBrands | unique: filteredBrands" [value]="brand.name">
						<span>{{ brand.name }}</span>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</div>

		<div class="field" *ngIf="showTable">
			<div class="download-buttons">
				<mat-slide-toggle *ngIf="filteredBrands.length" (change)="hideQuantity($event)" color="primary">Hide quantity</mat-slide-toggle>
				<button mat-raised-button color="primary" (click)="getExcelFile()">Excel</button>
				<button mat-raised-button color="primary" (click)="getPDFFile()">PDF</button>
			</div>
			<!-- <a href="/excel">Excel</a> -->

			<mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50]">
			</mat-paginator>


			<mat-table id="table" #table [dataSource]="dataSource">

				<ng-container matColumnDef="check">
					<mat-header-cell *matHeaderCellDef [ngClass]="'checkbox-cell'">
						<mat-checkbox [checked]="allSelected" color="primary" (change)="checkAll($event.checked)">A</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let element" [ngClass]="'checkbox-cell'">
						<mat-checkbox [checked]="element.selected" color="primary" (click)="$event.preventDefault()">a</mat-checkbox>
					</mat-cell>
				</ng-container>

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef> Name of the brand </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="quantity">
					<mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;" (click)="check(row)" class="pointer"></mat-row>
			</mat-table>
		</div>
	</div>
</div>