#main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

#left-menu {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.name, .user, .center-wrapper header, .picker {
  flex-shrink: 0;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #109bf9;
  height: 50px;
  padding: 0 10px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;

  background-color: #003277;
  color: white;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.user-wrapper span:first-child {
  font-size: 20px;
}
.user-wrapper span:last-child {
  font-size: 14px;
}

.menu {
  display: flex;
  justify-content: center;
  height: 100%;
}

.menu-buttons {
  margin-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.menu-buttons button {
  margin-top: 15px;
}

.footer {
  height: 50px;
  background-color: #109bf9;
}



/* ----------------------------------------- */
.center-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f7f9fb;
}

.center-wrapper header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 50px;
}

.picker {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 80px;
}

.picker-inputs mat-form-field {
  margin: 0 10px;
}

.field {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  margin: 7px;
}

.mat-table {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-height: 100%;
}

.tags {
  /* height: 80px; */
  width: 100%;
}

.tags .mat-form-field, .tags input.mat-chip-input{
  width: 100% !important;
  margin: 0;
  /* padding-left: 10px;
  box-sizing: border-box; */
}

.tags .mat-form-field {
  padding-left: 7px;
  padding-right: 7px;
  box-sizing: border-box;
  background-color: #fff;
}

/deep/.tags .mat-form-field-flex {
  padding-left: 10px;
  box-sizing: border-box;
}

.checkbox-cell {
  flex: 0 0 28px;
}

.download-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.download-buttons button {
  margin-top: 7px;
  margin-right: 7px;
}

.pointer {
  cursor: pointer;
}

.mat-header-row, .mat-row {
  min-height: 30px;
}

/deep/.mat-checkbox-layout {
  color: #fff !important;
}

/deep/.mat-chip {
  margin: 0 0 8px 8px !important;
}

mat-slide-toggle {
  margin-right: 20px;
}


#preview {
  margin-top: 30px;
  height: 100%;
  overflow-y: auto;
}

#preview .row {
  /* margin-bottom: 40px; */
  padding: 10px;
}

th, td {
  width: 7%;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}