.picker{
    margin: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.k-grid .k-grid-container {
    height: calc(100vh - 228px) !important;
}

.k-filter-row td, .k-filter-row th {
    padding: 3px !important;
}

.item-picker-grid-new kendo-grid-filter-menu > a {
    background: transparent !important;
    color: #fff !important;
}
.item-picker-grid-new kendo-grid-filter-menu > a.k-state-active {
    color: #ff6358 !important;
}
.item-picker-grid-new kendo-grid-filter-menu-container .k-filter-menu-container {
    padding: 0px !important;
    padding-bottom: 0.5em !important;
}
.item-picker-grid-new kendo-grid-filter-menu-container multicheck-filter ul {
    margin: 0 !important;
    padding: 0 !important;
}
.item-picker-grid-new kendo-pager {
    background-color: rgb(69, 106, 118) !important;
    color: rgb(255, 255, 255) !important;
}